body{
    background-color: white;
    color: rgb(53, 52, 52);
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

h1 {
    font-size: 7rem;
    font-family: 'Clicker Script', cursive;
    margin: 0 0;
}

h2{
    font-size: 3rem;
}

p{
    padding: 20px 0 0;
}

a{
    color: rgb(161, 44, 44);
}

.title-center{
    text-align: center;
}

/* COLORED SECTIONS */

.dark-section{
    color: white;
    background-color: #232335;
}

.light-section{
    color: white;
    background-color: #3D4E5F;
}

/* NAV BAR */

.nav-icon{
    height: 50px;
    padding-left: 10px;
}

/* CV PHOTO */

#title{
     text-align: center;
}

.cv-photo{
    width: 20%;
    padding: 50px 50px;
}

/* NAME */

.name{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-animated{   
    content: "Daniel A.";
    width: 9ch;
    animation: typing 1s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.name-animated::before{
    content: "Daniel Avila";
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* CV DESCRIPTION */

.description{
    font-size: 1.3rem;
    text-align: justify;
    padding: 5% 0;
    width: 60%;
}

/* CAROUSEL SKILLS */

#skills{
    position: relative;
    padding: 5% 5%;
}

#carousel-skills{
    height: 500px;
}

.skill-row {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    margin: 50px;
    padding: 50px 0 50px;
    text-align: left;
    line-height: 2;
}

.chemistry-icon, .dev-icon {
    float: left;
    width: 27%;
    padding: 20px;
}

.checklist-icon {
    float: right;
    width: 27%;
    padding: 20px;
}


/* TIME LINE SECTION */

#time-line{
    padding: 70px 0;
    color: white;
}

.time-line{
    width: 80%;
    
}

.time-stamp{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 20px 20px 0 20px;
    width: 70%;
}

.time-icon{
    text-align: center;
    font-size: 5rem;
    margin: 0;
    left: -15px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 15px;
    border-radius: 30%;
}

.time-stamp::before{
    content: "";
    position: absolute;
    border-style: dashed;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 4;
    color: rgb(97, 47, 23);
    width: 0px;
    height: 100%;
    left: 68px;
    top: 0;
}

.time-body::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 0;
    padding: 0 0;
    rotate: 45deg;
    left: -10px;
    top: 40px;
    background-color: #333350;
    transform-origin: center;
}

.time-body{
    position: relative;
    background-color: #333350;
    padding: 30px 30px;
    border-radius: 10px;
}

.badge {
    background: blueviolet;
    padding: 4px 8px;
    margin: 0 0 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.time-text{
    font-size: 1rem;
    padding-top: 10px;

}

.time-img{
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.contact-me{
    text-align: center;
    padding: 20px 0 20px;
}

.footer-section{
    text-align: center;
    padding: 20px 0 10px 0;
}

.screen-size{
    display: inline;
}

.phone-size{
    display: none;
}

@media only screen and (max-width: 1200px) {

    .name-animated{
        font-size: 5rem;
    }

    .name-animated::before{
        content: "Daniel A.";
    }

    .description{
        width: 80%;
    }

    .time-stamp::before{
        display: none;
    }

    .time-stamp{
        width: 80%;
    }

    .time-icon{
        display: none;
    }

    .chemistry-icon, .dev-icon, .checklist-icon{
        float: none;
        width: 40%;       
    }

    .cv-photo{
        width: 250px;
    }

    .skill-row{
        left: 40%;
        width: 80%;
    }

    .phone-size{
        display: inline;
    }

    .screen-size{
        display: none;
    }